# Config file for automatic testing at travis-ci.org

sudo: false

language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install codecov tox-travis

script:
    - tox

after_success:
  - codecov

deploy:
  - provider: pypi
    user: parsys-python
    password: not_a_real_password
    server: https://104.131.121.162
    on:
      all_branches: true