include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include .flake8
include .bumpversion.cfg
recursive-include docs *
recursive-include integration_tests *
